
.pagination .pagination-container {
    margin: 0 auto;
    width: auto;
}

.pagination li {
    padding : 10px;
    border : 1px solid #eeeeee;
}

    .pagination li.active {
        background-color: #4582ec;
        color : white;
        
    }
