
@{
    ViewBag.Title = "Index";
}


<div class="row">
    <div class="col-md-4 col-md-offset-4" style="margin-top:80px">
        <h2 class="text-center">Registration</h2>

        <form method="post" action="@Url.Action("Index","Register")" class="well" >

            <div class="form-group">
                <label for="UserFirstName">First Name</label>
                <input type="text" name="User_Fname" class="form-control" id="UserFirstName" placeholder="Enter First Name" />
            </div>
            <div class="form-group">
                <label for="UserLastName">Last Name</label>
                <input type="text" name="User_Lname" class="form-control" id="UserLastName" placeholder="Enter Last Name" />
            </div>
            <div class="form-group">
                <label for="UserEmail">Email</label>
                <input type="email" name="User_Email" class="form-control" id="UserEmail" placeholder="Enter Email" />
            </div>
            <div class="form-group">
                <label for="UserPassword">Last Name</label>
                <input type="password" name="User_Password" class="form-control" id="UserPassword" placeholder="Enter Password" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Signup</button>
            </div>
        </form>
    </div>
</div>
