@{
    ViewBag.Title = "Home Page";
}
    
<div class="container">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <h1 class="d-block w-100 text-center">Many Task</h1>
            </div>
            <div class="carousel-item">
                <h1 class="d-block w-100 text-center">Many Users</h1>
            </div>
            <div class="carousel-item">
                <h1 class="d-block w-100 text-center">One Platform</h1>
            </div>
        </div>
        </div>
        
    <div class="row text-center" >
        <div class="col-lg-12 col-md-12">
            <div>
                <img src="~/images/Untitled-2-01.png" style="width:1000px; height:600px;" />
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4">About <span class="text-capitalize">Ekdilosi</span></h1>
                    <p class="lead">The word is Derived from the meaning of word "Event", As the App is created to handle Events :P</p>
                </div>
            </div>
        </div>
    </div>
</div>
